body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace
}

button{
    background-color: green;
    color: white;
    font-size: medium;
    border-radius: 30px;
}

span{
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}


footer{
    margin-top: 28%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: red;
}

a{
    margin-left: 10px;
    color: white;
}